#registerbox,#registerinnerbox{
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5%;
    position: relative;
    min-height: fit-content;
}
#registerbox{
    top: 2.5vh;
    height: 80vh;
    width: 35vw;
    background-color: rgb(180, 180, 180);

}
#registerinnerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 2.5%;
    padding: 5%;
    height: 85%;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.1);
}
.input{

    color: white;
    padding: 2.5%;
    width: 25vw;

}
#emailinpu,#logininpu,#nickinpu,#passwordinpu,#passwordConfirm{
    background-color: gray;
   min-height: fit-content;
    width: 90%;

    left: 20%;
    border-radius: 10px;
}
#logininpu,#nickinpu,#passwordinpu,#passwordConfirm{
    margin-top: 1vh;
}
.error{
    position: relative;
    height: 20px;
    width: 90%;
    top: -15px;
    color: red;
    background-color: lightcoral;

}
.error:hover{
    background-color: transparent;
    color: transparent;
}
#but,#registerbut{
    position: relative;
}
#but{
    background-color:  transparent;
    top: 3vh;
    height: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#registerbut{
    left: 25%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 50%;
    border-color: transparent;
    border-radius: 1.5%;
}
#registerbut:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer ;
    box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
}
input{
    border-color: transparent;
    border-radius: 10px;
    background-color: aliceblue;
    font-style: arial;
    resize: horizontal;
    width: 100%;
}
input:hover{
    background-color: rgba(119, 136, 153, 0.25);
    border: 2px solid black;
    box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.4);
}
input:focus{
    outline: none;
    background-color: lightslategray;
    border: 2px solid black;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.4);
}
label{
    display: block;

    text-align: center;

    text-transform: uppercase;

}
