#registerbox,#registerinnerbox{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-content: center;
    position: relative;
}
#registerbox{
    top: 5vh;
    height: 75vh;
    width: 60vh;
    background-color: rgb(180, 180, 180);
}
#registerinnerbox{
    top: 2.5%;
    height: 95%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.1);
}
