#registerbox,#registerinnerbox{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-content: center;
    position: relative;
    font-style: italic;
}
#registerbox{
    top: 5vh;
    height: 75vh;
    width: 60vh;
    background-color: rgb(180, 180, 180);
}
#registerinnerbox{
    top: 2.5%;
    height: 95%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.1);
}
.input{
    color: white;
    position: relative;
    left: 5%;
    top: 8%;
}
#emailinpu,#logininpu,#nickinpu,#passwordinpu,#passwordConfirm{
    background-color: gray;
    position: relative;
    height: 10%;
    width: 60%;
    top: 8%;
    left: 20%;
    border-radius: 5px;
}
#logininpu,#nickinpu,#passwordinpu,#passwordConfirm{
    margin-top: 20px;
}
.error{
    position: relative;
    height: 20px;
    width: 90%;
    top: -15px;
    color: red;
    background-color: lightcoral;

}
.error:hover{
    background-color: transparent;
    color: transparent;
}
#but,#registerbut{
    position: relative;
}
#but{
    background-color:  transparent;
    top: 10%;
    height: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#registerbut{
    left: 25%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 50%;
    border-color: transparent;
    border-radius: 5px;
}
#registerbut:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer ;
}
input{
    border-color: transparent;
    border-radius: 5px;
    background-color: aliceblue;
    font-style: arial;
}
input:hover{
    background-color: rgba(119, 136, 153, 0.25);
    border: 2px solid black;
}
input:focus{
    outline: none;
    background-color: lightslategray;
    border: 2px solid black;
}
