.registerinnerbox {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px, 25px;
    height: 100%;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.17);
}
.registerbox{
    height: 98%;
    padding: 0.2% 0;
}
.input {
    color: white;
    padding: 2.5%;
    width: 389px;
    min-height: 1%;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.card {
    background-color: gray;
    min-height: 10%;
    width: 90%;
    left: 20%;
    border-radius: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
}
.error {
    position: relative;
    height: 20px;
    width: 100%;
    color: #000;
    background-color: #fe5d6f;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}
/* .but,
.registerbut {
    position: relative;
} */
.button {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(21, 255, 0);
    width: 250px;
    height: 50px;
    margin-top: 10px;
    border: 0;
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.261);
}
.button:hover{
    background-color: rgb(121, 118, 255);
    border: 0;
}
.line{
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background-color: rgb(21, 255, 0);;
}
input,
select {

    border-color: transparent;
    border-radius: 10px;
    background-color: aliceblue;
    font-style: arial;
    resize: horizontal;
    width: 383px;
    padding: 1px;
    font-size: 14px;
    transition: 0.3s linear;
}
input:hover,
input:focus,
select:hover,
select:focus {
    outline: 0;
    border: 2px solid black;
}
label {
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.type {
    text-align: center;
}
form{
    height: 85vh;
    width: 100%;
}
