@media screen and (max-width: 300px) {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 12px;
    }
    .logo {
        display: none;
    }
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 13px;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 15px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 19px;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1200px)  {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 24px;
    }
}
@media screen and (max-width: 4000px) and (min-width: 1600px)  {
    .ussername,
    .dropdown,
    .dropdown-content,
    .dropbtn {
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .nav {
        width: 23vw;
    }
}
@media screen and (min-width: 600px) {
    .nav {
        width: 20vw;
    }
}
.top {
    gap: 5vw;
    display: flex;
}
footer,
article {
    width: 100vw;
}
* {
    font-family: "Poppins", sans-serif;
}

nav {
    /*środkowy pasek u góry*/
    background-color: lightgray;
    height: 10vh;
    width: 100vw;
}
footer {
    /*stopka*/
    height: 5vh;
    background-color: gray;
    text-align: center;
}
article {
    /*środek*/
    min-height: 85vh;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.nav {
    /*osobne kwadraty z dropdownami*/
    float: left;
    text-align: center;
    display: flex;
}
.logo {
    /* wartości związane z logo */
    margin-left: 5vh;
    height: 100%;
    width: 10vh;
    float: left;
    background-color: transparent;
}
.dropbtn {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}
.img {
    height: 10vh;
}

.dropdown {
    text-align: center;
    position: relative;
    display: inline-block;
    color: black;
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.social {
    /*github i inne*/
    width: 98%;
    height: 98%;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.socialbg:hover {
    /*po najechaniu nna githuba i inne*/
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    transition: 0.15s all linear;
}
.socialbg {
    /*tło sociali*/
    margin-right: auto;
    margin-right: auto;
    height: 5vh;
    float: right;
    align-content: center;
    border-radius: 50%;
}
.cards {
    align-items: stretch;
}
.top {
    height: 100%;
    width: 100%;
    position: relative;
}
.logout {
    margin-right: auto;
    margin-right: auto;
    height: 5vh;
    float: left;
    align-content: center;
}
.ussername {
    float: right;
}

.logout:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    transition: 0.15s all linear;
}
