.bigBox,.smallerBox{/*duży mniejszy kwadrat*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.bigBox{/*duży kwadrat*/
    top: 5vh;
    height: 75vh;
    width: 80vw;
    background-color: gray;
}
.smallerBox{/*mniejszy kwadrat*/
    top: 2.5%;
    height: 95%;
    width: 95%;
    background-color: white;
}
.questonInput{/*miejsce na pytanie*/
    margin-left: auto;
    margin-right: auto;
    border-width:  0 5px 5px 5px  ;
    border-color: black;
    border-style: solid;
    border-radius: 0 0 10px 10px;
    min-height: 10%;
    width: 90%;
    background-color:  transparent;
    text-align: center;

}
.questionText{/*pytanie text*/
    color: black;
    transform: translate(0%,75%);
    white-space: initial;
}
.answer{/*pojedyńcza odpowiedź*/
    background-color: rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 25vw;
    margin-left: 5vw;
    margin-top: 5vh;
    float: left;
    border-radius: 10px;

}

.answers{/*pojemnik na odpowiedzi*/
    width: 65vw ;
    height: 45vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}
input[type=radio]{/**/
    height: 100%;
    width: 100%;
    /* visibility: hidden; */
}
.label{/**/
    bottom: 100%;
    position: relative;
}

